.brand {
  min-height: calc(100vh - 900px);
  .title {
    margin: 100px 0;
  }
  .content {
    position: relative;
    padding: 200px 0 300px 0;
    img {
      width: 660px;
      content: normal !important;
    }
    .desc {
      position: absolute;
    }
  
    .desc_1 {
      top: 280px;
      left: 230px;
    }
  
    .desc_2 {
      top: 280px;
      left: 1350px;
    }
  
    .desc_3 {
      top: 635px;
      left: 250px;
    }
  
    .desc_4 {
      top: 635px;
      left: 1330px;
    }
  }
}

@media (max-width: 767px) {
  .brand {
    .large-font-size {
      font-size: 40px;
    }
  }
}

@media (max-width: 550px) {
  .brand {
    .content {
      .desc {
        width: 360px;
      }
      .desc_2 {
        right: 220px;
      }
      .desc_3 {
        left: 250px;
      }
      .desc_4 {
        right: 220px;
      }
    }
  }
}

@media (max-width: 447px) {
  .brand {
    .content {
      .desc_1 {
        top: 120px;
      }
      .desc_2 {
        top: 120px;
      }
    }
  }
}