.welfare {
  min-height: calc(100vh - 700px);
  .title {
    margin: 80px 0;
  }
  .content {
    text-indent: 2em;
    color: #444;
  }
  .container {
    margin-bottom: 160px;
  }
}


// @media (max-width: 767px) {

//   .welfare {

//   }
// }