
// .dropdown-menu {
//   min-width: auto;
// }

// .dropdown-item {
//   color: #fff !important;
//   &:focus, &:hover {
//     background: rgba(0, 0, 0, 0.8);
//   }
// }

.navbar {
  font-size: 14px;
  padding: 28px 0;
  .active {
    color: #66BE00 !important;
    .line {
      height: 4px;
      background-color: #66BE00;
    }
  }
}

.navbar-logo {
  width: 280px;
  height: 72px;
}

.nav-item {
  padding-left: 24px;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-close {
  border: 0;
}

.cross {
  width: 122.8px;
  height: 122.8px;
}

.navbar-brand {
  margin-left: 0.75rem;
}

.navbar-toggler-icon {
  width: 109.72px;
  height: 94.208px;
}

.hidden {
  overflow: hidden;
}

@media (max-width: 767px) {
  // .navbar-logo {
  //   width: 217px;
  //   height: 56px;
  // }

  // .navbar-brand {
  //   padding: 20px 0;
  // }

  .navbar-toggler {
    border: none;
  }

  .active {
    .line {
      height: 0;
    }
  }
  
}

@media (max-width: 575px) {
  .navbar-nav {
    background-color: #66BE00;
    height: calc(100vh - 96px);
  }

  .nav-item {
    border-bottom: 1px solid #000;
  }
}