
.dropdown-menu {
  min-width: auto;
}

.dropdown-item {
  color: #fff !important;
  &:focus, &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}

.navbar {
  /* background: #202020; */
  font-size: 14px;
  padding: 28px 0;
}

.navbar-logo {
  width: 280px;
  height: 72px;
}

.nav-item {
  padding-left: 24px;
}

.navbar-nav .nav-link {
  color: #000;
  // font-size: 24px;
}

.navbar-close {
  border: 0;
}

.cross {
  width: 122.8px;
  height: 122.8px;
}

.navbar-brand {
  margin-left: 24px;
}

.navbar-toggler-icon {
  width: 109.72px;
  height: 94.208px;
}

.navbar-toggler {
  margin-right: 24px;
}

.hideen {
  overflow: hidden;
}

@media (max-width: 767px) {
  // .navbar-logo {
  //   width: 217px;
  //   height: 56px;
  // }

  // .navbar-brand {
  //   padding: 20px 0;
  // }

  .navbar-toggler {
    border: none;
  }
  
}

@media (max-width: 575px) {
  // .navbar {
  //   padding: 0;
  // }
  .navbar-nav {
    background-color: #66BE00;
    height: calc(100vh - 96px);
  }
  // .navbar-brand {
  //   margin-left: 24px;
  // }
  // .navbar-toggler {
  //   margin-right: 24px;
  // }
  .nav-item {
    border-bottom: 1px solid #000;
  }
}