.footer {
  color: #fff;
  .top {
    padding: 78px 0;
    background: #305900;
    color: #fff;
    .join {
      margin-bottom: 40px;
    }
    // .contact {
    //   font-size: 28px;
    // }
    .qr_code {
      width: 200px;
      height: 200px;
      margin-bottom: 30px;
      content: normal !important;
    }

    .pc_phone_img {
      width: 100px;
      height: 100px;
      margin-right: 40px;
      content: normal !important;
    }
    .mobile_phone_img {
      display: none;
    }
  }

  .bottom {
    padding: 54px 0;
    background-color: #000000;
  }
  
}

@media (max-width: 767px) {
  .footer {
    .top {
      padding: 175px 0;
      .join {
        margin-bottom: 75px;
      }
      .qr_code {
        width: 350px;
        height: 350px;
        margin-bottom: 40px;
      }
      .pc_phone_img {
        display: none;
      }
      .mobile_phone_img {
        display: block;
        width: 100px;
        width: 100px;
        margin-right: 60px;
      }
    }
   
    .bottom {
      padding: 75px 0;
    }
  }
}