/* @font-face{
  font-family: '字体名称随便起'; 
  src: url('../font/字体名称.eot');
  src:url('../font/字体名称.woff') format('woff'),
      url('../font/字体名称.ttf') format('truetype'),
      url('../font/字体名称.svg') format('svg');
} */

/* html {
  font-size:62.5%;
} */

body {
  /* background: #282828; */
  color: #333;
  font-size: 24px;
}

p {
  font-weight: 200;
}

a:hover {
  text-decoration: none;
}

ul, li {
  padding: 0;
  list-style: none;
}

button, button:focus {
  outline: 0 none;
}

.relative {
  position: relative;
}

.min-font-size {
  font-size: 20px;
}

.small-font-size {
  font-size: 24px;
}

.medium-font-size {
  font-size: 28px;
}

.body-font-size {
  font-size: 32px;
}

.large-font-size {
  font-size: 40px;
}

.bigger-font-size {
  font-size: 48px;
}

.max-font-size {
  font-size: 80px;
}



@media (max-width: 767px) {
  .min-font-size {
    font-size: 50px;
  }
  
  .small-font-size {
    font-size: 60px;
  }
  
  .medium-font-size {
    font-size: 70px;
  }
  
  .body-font-size {
    font-size: 80px;
  }
  
  .large-font-size {
    font-size: 100px;
  }
  
  .bigger-font-size {
    font-size: 120px;
  }
  
  .max-font-size {
    font-size: 200px;
  }
  
}

/* @media (max-width: 575px) {
  
} */