/* @font-face{
  font-family: '字体名称随便起'; 
  src: url('../font/字体名称.eot');
  src:url('../font/字体名称.woff') format('woff'),
      url('../font/字体名称.ttf') format('truetype'),
      url('../font/字体名称.svg') format('svg');
} */

/* html {
  font-size:62.5%;
} */

body {
  /* background: #282828; */
  color: #000;
  font-size: 24px;
  padding-top: 128px;
}

p {
  font-weight: 200;
}

a:hover {
  text-decoration: none;
}

ul, li {
  padding: 0;
  list-style: none;
}

.carousel-indicators {
  margin-bottom: 24px;
}

.carousel-indicators li {
  width: 60px;
  height: 6px;
}

button, button:focus {
  outline: 0 none;
}

.relative {
  position: relative;
}


/* text-align:justify; */

.min-font-size {
  font-size: 20px;
}

.small-font-size {
  font-size: 24px;
}

.medium-font-size {
  font-size: 28px;
}

.body-font-size {
  font-size: 32px;
}

.large-font-size {
  font-size: 40px;
}

.larger-font-size {
  font-size: 44px;
}

.bigger-font-size {
  font-size: 48px;
}

.max-font-size {
  font-size: 80px;
}

.darker-color {
  color: #000;
}

.dark-color {
  color: #333;
}

.light-color {
  color: #666;
}

.lighter-color {
  color: #bbb;
}

.lightest-color {
  color: #ddd;
}




@media (max-width: 767px) {
  body {
    padding-top: 250px;
  }
  .min-font-size {
    font-size: 50px;
  }
  
  .small-font-size {
    font-size: 60px;
  }
  
  .medium-font-size {
    font-size: 70px;
  }
  
  .body-font-size {
    font-size: 80px;
  }
  
  .large-font-size {
    font-size: 100px;
  }

  .larger-font-size {
    font-size: 110px;
  }
  
  .bigger-font-size {
    font-size: 120px;
  }
  
  .max-font-size {
    font-size: 200px;
  }
  .carousel-indicators li {
    width: 75px;
    height: 10px;
  }
}